{% extends 'template.html' %}

{% block header %}
{% endblock %}

{% block content %}

<div class="row d-flex justify-content-center">
  <h2>Analytics</h2>
</div>

<hr>

<div class="container center-align">
  <div class="row center-align">
    <div class="col">
        <div id="chart1">
          <!-- Populated by plotly chart1 on page load -->
        </div>
    </div>
    <div class="col">
        <div id="chart2">
          <!-- Populated by plotly chart2 on page load -->
        </div>
    </div>
  </div>
  <div class="row center-align">
    <div class="col">
      <div id="chart3">
        <!-- Populated by plotly chart3 on page load -->
      </div>
    </div>
    <div class="col">
      <div id="chart4">
        <!-- Populated by plotly chart4 on page load -->
      </div>
    </div>
  </div>
</div>

<br><br><br><br>

<script>

    ///////////////////////////////////////////////////////////////////////////
    //                               Get Data                                //
    ///////////////////////////////////////////////////////////////////////////
    
    // {#
    // {{ data|tojson }} - Jinja2 technique for reading a variable sent as 
    // paramters by a function.
    // Syntax explanation:
    //   {{}} - Let's JavaScript know that we're using Jinja2 logic
    //   data - Variable passed from the app.py file
    //   tojson - Let's the application know that it's a json file
    //   | - pipe command, pipes the data to the tojson function

    // function getData(data) {
    //   return data
    // }
    // #}

    var data1 = JSON.parse({{ graphJSON1|tojson }});
    var data2 = JSON.parse({{ graphJSON2|tojson }});
    var data3 = JSON.parse({{ graphJSON3|tojson }});
    var data4 = JSON.parse({{ graphJSON4|tojson }});

    ///////////////////////////////////////////////////////////////////////////
    //                             Plotly Charts                             //
    ///////////////////////////////////////////////////////////////////////////
    
    //==========                      Chart 1                      ==========//

    var labs = Object.keys(data1);
    var vals = Object.values(data1);
    var hover = Object.entries(data1).map(
                x => `${x[0]} has a <br>value of ${x[1]}`)

    var layout = {
      title: "Here's a chart",
      xaxis: {title: "Category"},
      yaxis: {title: "Value"}
    }

    Plotly.plot("chart1", [{
      y: vals,
      x: labs,
      type: "bar",
      text: hover,
      hoverinfo: "text",
      marker: {"color": vals, "colorscale": "Viridis"}
    }],
    layout);

    //==========                      Chart 2                      ==========//

    var labs = Object.keys(data2);
    var vals = Object.values(data2);
    var hover = Object.entries(data2).map(
                x => `${x[0]} has a <br>value of ${x[1]}`)

    var layout = {
      title: "Here's another chart",
      xaxis: {title: "Category"},
      yaxis: {title: "Value"}
    }

    Plotly.plot("chart2", [{
      y: vals,
      x: labs,
      type: "bar",
      text: hover,
      hoverinfo: "text",
      marker: {"color": vals, "colorscale": "Cividis"}
    }],
    layout);

    //==========                      Chart 3                      ==========//

    var vals = Object.values(data3);
    var labs = Object.keys(data3)

    var layout = {
      title: "Donuts > Pie"
      }

    var pieTrace = {
      values: vals,
      labels: labs,
      type: "pie",
      hole: 0.5
    }

    Plotly.plot("chart3", [pieTrace], layout);

    //==========                      Chart 4                      ==========//

    var n_dim_data = Object.entries(data4).map(x => x["1"])
    var x = Object.values(n_dim_data).map(x => x[0])
    var y = Object.values(n_dim_data).map(x => x[1])
    var z = Object.values(n_dim_data).map(x => x[2])
    var colr = Object.values(n_dim_data).map(x => x[3])
    var size = Object.values(n_dim_data).map(x => x[4])

    scl = [[0, 'rgb(150,0,90)'], [0.125, 'rgb(0, 0, 200)'],
          [0.25,'rgb(0, 25, 255)'], [0.375,'rgb(0, 152, 255)'],
          [0.5,'rgb(44, 255, 150)'], [0.625,'rgb(151, 255, 0)'],
          [0.75,'rgb(255, 234, 0)'], [0.875,'rgb(255, 111, 0)'],
          [1,'rgb(255, 0, 0)']];

    var hover = Object.entries(data4).map(
      x => `${x[0]}:<br>` +
           `x = ${data4[x[0]][0]}<br>` +
           `y = ${data4[x[0]][1]}<br>` +
           `z = ${data4[x[0]][2]}<br>` +
           `color = ${data4[x[0]][3]}<br>` +
           `size = ${data4[x[0]][4]}`)

    var layout = {
      margin: {
        l: 0,
        r: 0,
        b: 0,
        t: 0},
      scene: {
        xaxis:{title: 'X Dimension'},
        yaxis:{title: 'Y Dimension'},
        zaxis:{title: 'Z Dimension'},
      },
    };

    var scatterTrace = {
      x: x, y: y, z: z,
      mode: 'markers',
      text: hover,
      hoverinfo: "text",
      marker: {
        size: size,
        color: colr,
        colorscale: scl,
        opacity: 0.8},
      type: 'scatter3d'
    };

    Plotly.plot('chart4', [scatterTrace], layout);


</script>

{% endblock %}
