{% extends 'template.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row d-flex justify-content-center">
        <h2>Here's your app !</h2>
      </div>
      <div class="row d-flex justify-content-center" style="padding:15px;">
        <h6>Try uploading a file</h6>
      </div>
      <div class="row d-flex justify-content-center">
        <form>
          <div class="form-group">
            <label for="file-browse" class="btn btn-secondary">
                Browse
            </label>
            <input id="file-browse" type="file" hidden="hidden"/>
            <span class="text-muted" id="file-upload-text">
              <u>Please select a file, no file selected</u>
            </span>
          </div>
        </form>
      </div>

      <div class="row d-flex justify-content-center">
        <form onsubmit="return false">
          <div class="form-group">
            <!-- Note that this button is not actually uploading the csv
            Rather, it simply capture the name of the file from your device
            and the file is read directly from your device
            This only works when the app is run locally or the server
            is already storing the file in the appropriate directory -->
            <label for="file-upload" class="btn btn-primary">
              <i class="material-icons align-middle">cloud_upload</i>
                Upload File
            </label>
            <input id="file-upload" type="submit" hidden="hidden"/>
            <label for="run-model" class="btn btn-danger"
            onclick="window.location = '{{ url_for('results') }}'">
              <i class="material-icons align-middle">computer</i>
                Run Model
            </label>
            <input hidden="hidden"/>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="center-table" style="max-width:90%;max-height:500px;">
        <table id="data-table" class="table table-striped">
          <!-- Populated by generateTable() on page load -->
        </table>
      </div>
    </div>

<script>

    ///////////////////////////////////////////////////////////////////////////
    //                     Declare Convenience Variables                     //
    ///////////////////////////////////////////////////////////////////////////

    const browseButton = document.getElementById("file-browse");
    const uploadText = document.getElementById("file-upload-text");
    // Value is assigned below when name is rendered on page
    var fileUploaded;

    ///////////////////////////////////////////////////////////////////////////
    //                    Render Table / Data Upload Funcs                   //
    ///////////////////////////////////////////////////////////////////////////

    // Generates a table one row at a time
    function generateTable(tableData) {
      var table = '';
      var keys = Object.keys(Object.values(tableData)[0]);
      table += "<thead class='thead-dark'><tr>";
      for (let i in keys) {
        table += `<th class="align-middle">${keys[i]}</th>`;
      }
      table += "</tr></thead>"
      $.each(tableData, function(key, value) {
        table += "<tr>";
        for (let i = 0; i < keys.length; i++) {
          table += `<td>${value[keys[i]]}</td>`
        }
        table += "</tr>"
      });
      document.getElementById("data-table").innerHTML = table;
    }

    // Renders the CSV (note that static directory requirement)
    $(document).ready(function() {
      $("form").submit(function(event) {
        $.ajax({
          data: {
            file_name: browseButton.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1]
          },
          type: "POST",
          url: "/show_csv",
          success: function(data) {
            parsedData = JSON.parse(data)
            generateTable(parsedData);
          }
        });
        event.preventDefault();
      });
    });

    // Populates text indicating selected file
    $("#file-browse").change(function() {
      if (browseButton.value) {
        var fileToUpload = browseButton.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
        $("#file-upload-text").text("You've selected: " + fileToUpload);
        fileUploaded = true;
      }
    });

    // Popup error when no file selected
    $("#file-upload").click(function() {
      if (!fileUploaded) {
        window.alert("Please select a file before continuing")
      }
    });

    ///////////////////////////////////////////////////////////////////////////
    //                             Miscellaneous                             //
    ///////////////////////////////////////////////////////////////////////////
    
    // Switch to pointer when hovering over buttons
    $("label").hover(function() {
      $(this).css("cursor", "pointer");
    })

</script>

{% endblock %}
